<div class="container m-4">
    <div class="card">
        <div class="col">
            <h6>Número</h6>
            <input type="text">
            <input type="text" name="" id="">
        </div>
        <div class="col">
            <h6>nombre</h6>
            <input type="text" name="" id="">
        </div>
        <div class="col">
            <h6>CUIT</h6>
            <input type="text" name="" id="">
        </div>
        <div class="col">
            <h6>Domicilio</h6>
            <input type="text" name="" id="">
        </div>
        <div class="btn-group m-4">
            <button class="btn btn-outline-primary">Buscar</button>
        </div>
    </div>
    <div class="card">
        <h5>Cuota Emitida</h5>
    <canvas width="300px" height="100px"></canvas>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-warning">Borrar</button>
        <button class="btn btn-outline-success">Aceptar</button>
        <button class="btn btn-outline-secondary">Otro socio</button>
        <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
    </div>
</div>