<div class="container m-4">
    <div class="card">
        <h3>
            Listado de deudores
        </h3><br>
        <div class="col m-4">
            <h6>Zonas</h6>
            <input type="text">
        </div>
        <div class="btn-group">
        <button class="btn btn-outline-primary">Imprimir</button>
        <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
        </div>
    </div>
</div>