<div class="container m-5">
    <div class="row">
    <div class="col m-4">
        <button class="btn btn-outline-secondary " onclick='location.href="/ctacte/cuotes"'>Cuotas</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/ctacte/print"'>Imprimir</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/ctacte/recalcv"'>Recalculo Valores de Ctas</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/ctacte/listdebt"'>Lista de Deudores</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/ctacte/currAco"'>Cuentas Corrientes</button>
      </div>
  </div>
</div>
</div>