<div class="container">
    <div class="card m-4">
        <div class="col m-2">
            <h5>-cobros diarios</h5>
            Fecha <input type="date" name="" id="">
        </div>
        <div class="col m-2">
            <h5>-listado de deudores</h5>
           Zonas <input type="text" placeholder="Zonas">
        </div>
        <div class="col m-2">
            <h5>-cuotas</h5>
            <p>socio <input type="text" name="" id="" placeholder="Socio"> <input type="text" name="" id=""></p>
            <p> Periodo <input type="text" name="" id="" placeholder="Periodo"></p>
            <p> Año <input type="date" name="" id="" placeholder="Año"></p>
        </div>
    </div>
    <div class="btn-group m-4">
        <button class="btn btn-outline-primary">Imprimir</button>
        <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
    </div>

</div>