<div class="container">
    <div class="card m-4">
        <div class="col">
            <h6>nombre</h6>
            <input type="text" name="" id="">
            <input type="text" name="" id="">
        </div>
        <div class="col">
            <h6>domicilio</h6>
            <input type="text" name="" id="">
        </div>
        <div class="col">
            <h6>periodo</h6>
            <input type="number" name="" id="">
        </div>
        <div class="col">
            <h6>Año</h6>
            <input type="date" name="" id="">
        </div>
        <div class="btn-group m-4">
            <button class="btn btn-outline-primary">Buscar</button>
            <button class="btn btn-outline-success">Actualizar</button>
            <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
        </div>
    </div>
</div>