<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Contenido</h1>
            <h6>
                <em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad id reprehenderit quas doloremque eaque laboriosam autem quia! Odio magnam, dicta vero, deleniti cum modi eum iusto adipisci dignissimos ipsa aperiam!</em>
                <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sunt laboriosam harum quis, reiciendis placeat eos! Quod vero animi, commodi, optio culpa officia tempore dolore quae ipsum, sunt numquam ut.</em>
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi delectus minus minima laboriosam fugiat dolorum omnis culpa, molestiae maiores itaque officia assumenda. Sapiente, atque in inventore eaque repudiandae nesciunt.</em>
            </h6>
        </div>
    </header>
</main>