<div class="container">
    <div class="card m-4">
        <div class="row">
            <div class="col">
                <h6>año</h6>
                <input type="datetime-local" name="year">
            </div>
            <div class="col">
                <h6>periodo</h6>
                <input type="number" name="periot">
            </div>
            <div class="col">
                <h6>vencimiento</h6>
                <input type="date" name="expiration">
            </div>
            <div class="col">
                <h6>Próximo vencimiento</h6>
                <input type="date" name="nextExpiration">
            </div>
        </div>
    </div>
    <div class="card m-4">
        <h5>datos a generar por periodo</h5>
        <div class="row">
            <div class="col">
                <h6>Recibo</h6>
            </div>
            <div class="col">
                <h6>Tasa</h6>
            </div>
            <div class="col">
                <h6>Cuota Social</h6>
            </div>
            <div class="col">
                <h6>Valor m3</h6>
            </div>
            <div class="col">
                <h6>Valor m3 +30m</h6>
            </div>
            <div class="col">
                <h6>Valor m3 +60m</h6>
            </div>
            <div class="col">
                <h6>Valor m3 +150m</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
            <div class="col">
                <input type="text" disabled>
            </div>
        </div>
    </div>
    <div class="m-4">
    <button class="btn btn-outline-primary">Generar</button>
    <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
    </div>
</div>