<div class="container md-4">
    <div class="card">
        <div class="row">
            <div class="col">
               <h6>Número</h6>
               <input type="number" autofocus> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Nombre</h6>
                <input type="text">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>CUIT</h6>
                <input type="number">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Domicilio</h6>
                <input type="text">
            </div>
            <div class="col">
                <h6>Vencimiento</h6>
                <input type="date" name="" id="">
            </div>
        </div>
        <button class="btn btn-primary m-4">Buscar</button>
    </div>
    <div class="card">
        <h6>listado de Deuda</h6>
        <canvas width="300px" height="100px"></canvas>
    </div>
    <div class="btn-group">
    <button class="btn btn-outline-success">Imprimir</button>
    <button class="btn btn-outline-secondary">Otra impresión</button>
    <button class="btn btn-outline-danger" onclick='location.href="/ctacte/mainmenu"'>Cancelar</button>
    </div>
</div>  